
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Formulário de agendamento de consulta</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" class="space-y-6">
      <div>
        <label for="cpf" class="block text-sm font-medium leading-6 text-gray-900">Data disponível</label>
        <div class="mt-2">
          <input
            id="cpf"
            name="cpf"
            type="date"
            class="block w-full rounded-md border-0 py-1.5 px-3 text-sm placeholder:text-lg text-slate-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            required >
        </div>
      </div>
      <div>
        <label for="cpf" class="block text-sm font-medium leading-6 text-gray-900">Disponível o dia inteiro?</label>
        <div class="mt-2 flex-row w-full justify-between">
          <div class="flex">
            <input formControlName="diaTodo" type="radio" name="diaTodo" id="diaTodoSim" value="Sim" (change)="changeDiaTodo(true)">
            <label for="diaTodoSim"  class="font-medium px-3">Sim</label>
          </div>
          <div class="flex flex-row">
            <input class="px-5" formControlName="diaTodo" type="radio" name="diaTodo" id="diaTodoNao" value="Nao" (change)="changeDiaTodo(false)">
            <label for="diaTodoNao" class="font-medium px-3">Não</label>
          </div>
        </div>
      </div>
      <div *ngIf="!isDiaTodo">
        <label for="cpf" class="block text-sm font-medium leading-6 text-gray-900">Disponibilidade de horário</label>
        <div class="mt-2">
          <label for="horaInicio">Início atendimento</label>
          <input  class="px-4 text-sm rounded-sm border-slate-600 mx-4" type="time" name="diaTodo" id="horaInicio">
        </div>
        <div class="mt-2">
          <label for="horaFim">Término atendimento</label>
          <input class="px-4  mx-4"  type="time" name="diaTodo" id="horaFim">
        </div>
      </div>
      <div class="flex justify-center w-full flex-row">
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Salvar disponibilidade</button>
      </div>
    </form>

  </div>
</div>
