
<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a routerLink="/home" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Início</a>
              <a routerLink="/home/medicos" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Médicos disponíveis</a>
              <a routerLink="/home/agendamentos" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Agendamento</a>
              <a routerLink="/home/disponibilidade" *ngIf="userTypeEnum.MEDICO == tipoUsuario" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Disponibilidade</a>
            </div>
          </div>
        </div>

          <button class="text-white" (click)="doLogout()">Sair</button>
      </div>
    </div>
  </nav>
  <section class="h2 mt-5">
    <h3 class="h2 mt-5 text-center">{{ welcomeMessage }}</h3>
  </section>
  <router-outlet></router-outlet>
</div>
