<div class="flex w-full justify-center align-middle">
  <ul role="list" class="divide-y p-5 w-full divide-gray-100">
    <li class="flex w-full justify-between gap-x-6 py-5" *ngFor="let medico of listaMedicos">
      <div class="flex min-w-0 gap-x-4">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">Nome: {{medico.nome}}</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{medico.email}}</p>
        </div>
      </div>
      <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900">CRM: {{ medico.crm }}</p>
      </div>
    </li>
  </ul>
</div>
